header {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem 0;
}
.logo {
  h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 900;
    color: $accent-color;
    span {
      color: $primary-color;
    }
  }
}
.nav-item {
  text-transform: uppercase;
  a {
    font-size: 0.8rem;
    color: $accent-color;
    padding: 0.75rem 1rem;
    &:hover {
      color: $primary-color;
    }
  }
}
