@media screen and (max-width: 400px) {
  // GENERAL

  .container {
    max-width: 95%;
    .content-div {
      flex-direction: column;
      width: 100%;
      margin: 30px auto 0;
    }
    .heading-div {
      width: 100%;
      p {
        text-align: justify;
        font-size: 0.8rem;
      }
    }
    p {
      font-size: 0.8rem;
    }
  }

  // HEADER

  header {
    .nav {
      display: none;
    }
    .logo {
      h1 {
        font-size: 1.5rem;
      }
    }
  }

  // HERO

  .hero {
    .welcome-div {
      width: 80%;
      p {
        font-size: 0.8rem;
      }
      h2 {
        font-size: 1.6rem;
      }
    }
  }

  // SECTION-1

  .section-1 {
    .content-div {
      .icon {
        width: 100%;
        padding: 0;
        img {
          height: 80px;
        }
        .description {
          width: 100%;
          margin-left: 20px;
          h6 {
            font-size: 0.9rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  // SECTION-2

  .section-2 {
    .register {
      padding: 0;
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }

  // SECTION-3

  .section-3 {
    .content-div {
      .col-1-2 {
        width: 100%;
        a {
          font-size: 1rem;
          .highlight {
            color: black;
          }
        }
      }
      .col-2-2 {
        display: none;
      }
    }
  }

  // SECTION-4

  .section-4 {
    h3 {
      font-size: 1.8rem;
    }
    iframe {
      height: 250px;
    }
  }

  // SECTION-5

  .section-5 {
    .content-div {
      .col {
        width: 100%;
        margin: 20px;
      }
    }
  }

  // SECTION-6

  .section-6 {
    .map {
      display: none;
    }
    .contact {
      width: 100%;
      form {
        width: 80%;
        .name,
        .email {
          width: 100%;
          padding: 8px;
        }
        .subject {
          padding: 8px;
        }
        textarea {
          height: 100px;
        }
      }
    }
  }

  // FOOTER

  footer {
    small {
      font-size: 0.5rem;
    }
  }

  // TOOGLE BAR

  .logo {
    z-index: 10;
  }
  label {
    display: block;
    z-index: 10;
  }
  .fa-hamburger {
    display: block;
    color: beige;
    font-size: 1.2rem;
    &:hover {
      color: $primary-color;
    }
  }
  #toggle:checked ~ .nav {
    display: block;
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 120px;
    .flex {
      flex-direction: column;
      .nav-item {
        padding: 18px 0;
        width: 100%;
        text-align: center;
        .btn {
          width: 90%;
          padding: 15px 0;
          border-radius: 10px;
        }
      }
    }
  }
}
