.section-5 {
  padding-bottom: 4rem;
  .heading-div {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    h4 {
      font-weight: 600;
      text-transform: uppercase;
    }
    img {
      margin: 15px 0;
    }
    p {
      color: $para-color;
    }
  }
  .content-div {
    width: 80%;
    margin: 3rem auto 0;
    .col {
      width: 30%;
      height: 380px;
      box-shadow: 0 0 7px rgb(196, 196, 196);
      padding: 20px;
      p {
        margin-top: 12px;
      }
      h5 {
        font-weight: bold;
        margin: 12px 0;
      }
    }
  }
}
