.section-1 {
  background: white;
  margin-top: calc(100vh - 76px);
  .heading-div {
    outline: 1px solid red;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    h4 {
      font-weight: 600;
      text-transform: uppercase;
    }
    img {
      margin: 15px 0;
    }
    p {
      color: $para-color;
    }
  }
  .content-div {
    width: 85%;
    margin: 50px auto 0;
    .icon {
      width: 49%;
      height: 150px;
      outline: 1px solid red;
      margin-bottom: 30px;
    }
  }
}
