.section-6 {
  height: 450px;
  .map,
  .contact {
    width: 50%;
  }
  .contact {
    background: url(../media/contact-bg.jpg);
    background-size: cover;
    height: 450px;
    text-align: center;
    form {
      background: white;
      width: 90%;
      margin: 0 auto;
      padding: 20px;
      text-align: left;
      border-radius: 10px;
      .name {
        margin-right: 10px;
      }
      .name,
      .email {
        width: 48.7%;
        padding: 12px;
        border: none;
        border-bottom: 1px solid rgb(172, 172, 172);
        &:focus {
          outline: none;
        }
      }
      .subject {
        width: 100%;
        margin: 15px 0 0;
        padding: 12px;
        border: none;
        border-bottom: 1px solid rgb(172, 172, 172);
        &:focus {
          outline: none;
        }
      }
      textarea {
        width: 100%;
        resize: vertical;
        margin: 15px 0;
        padding: 10px;
        border: 1px solid rgb(172, 172, 172);
        border-radius: 10px;
        &:focus {
          outline: none;
        }
      }
      .small-btn {
        font-size: 0.75rem;
      }
    }
  }
}
