.section-1 {
  background: white;
  margin-top: calc(100vh - 76px);
  .heading-div {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    h4 {
      font-weight: 600;
      text-transform: uppercase;
    }
    img {
      margin: 15px 0;
    }
    p {
      color: $para-color;
    }
  }
  .content-div {
    width: 85%;
    margin: 50px auto 0;
    .icon {
      width: 49%;
      height: 100px;
      margin-bottom: 30px;
      .description {
        width: 75%;
        h6 {
          text-transform: capitalize;
          font-weight: 600;
        }
        p {
          color: rgb(82, 82, 82);
          margin: 8px 0;
        }
        a {
          font-size: 0.75rem;
          text-transform: uppercase;
          font-weight: 600;
          color: $primary-color;
          &:hover {
            color: rgb(214, 117, 117);
          }
        }
      }
    }
  }
}
