.section-4 {
  .container {
    text-align: center;
    h3 {
      font-weight: 600;
      font-style: italic;
      margin-bottom: 2rem;
      color: black;
    }
  }
  iframe {
    border-radius: 1.25rem;
    box-shadow: 0 0 30px rgb(170, 108, 108);
    height: 500px;
  }
}
